.groups {
  width: 100%;
  background-color: var(--layout-bg);
  overflow: hidden;
  overflow-y: visible;
  min-height: 100vh;
  padding-bottom: 20px;
  // margin-top: 20px;
  // background-color: #e7e7ff;
  // border-radius: 33px;
  // width: 85vw;
  // height: 95vh;
  // overflow: hidden;
  // overflow-y: visible;

  &__container {
    margin: 0 auto;
    margin-top: 70px;
    width: 95%;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
    display: block;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    display: flex;
    gap: 30px;
    row-gap: 30px;
  }

  &__add {
    width: 360px;
    height: 225px;
    border: #989898 dashed 3px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    // box-shadow: 1px 1px 5px rgb(184, 184, 184);
    cursor: pointer;
    &:hover {
      .groups__add-img {
        transform: scale(1.2);
      }
    }

    &-img {
      display: block;
      margin: 0 auto;
      width: 60px;
      height: 60px;
      transition: 0.5s;
    }
  }
}
