.schedule {
  padding-bottom: 10px;
  margin-top: 20px;
  background-color: #e7e7ff;
  border-radius: 33px;
  width: 85vw;
  height: 95vh;
  overflow: hidden;
  overflow-y: visible;
}

.schedule__container {
  margin: 0 auto;
  margin-top: 70px;
  width: 95%;
  gap: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.schedule__day {
  width: 250px;
  text-align: center;
}

.schedule__day-title {
  font-size: 30px;
  font-weight: bold;
}

.schedule__add-img{
  width: 30px;
  height: 30px;
}

.schedule__add {
  box-shadow: 1px 1px 5px rgb(184, 184, 184);
  background: #e4e4f0;
  cursor: pointer;
  width: 100%;
  height: 70px;
  margin-top: 10px;
  border-radius: 20px;
  border: #989898 dashed 3px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    .schedule__add-img {
      transform: scale(1.2);
    }
  }
}

.schedule__add-container {
  width: 90%;
}

.schedule__add-img {
  display: block;
  margin-left: auto;
  transition: 0.5s;
}

.schedule__lesson {
  margin-top: 10px;
  padding: 1px;
  width: 100%;
  height: 70px;
  background-color: white;
  box-shadow: 3px 3px 10px rgb(184, 184, 184);
  border-radius: 20px;
}

.schedule__lessonName {
  margin-top: 10px;
}
.schedule__lessonTeacher {
  margin-top: 10px;
}
