.modal-window {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  padding: 20px;

  border-radius: 25px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.modal-title{
  font-size: 20px;
}

.modal-label {
  display: block;
  margin-bottom: 10px;
}

.modal-input {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  padding: 0 10px;
  border: 1px solid #646464;
  margin-bottom: 30px;
}

.modal-close {
  cursor: pointer;
  background-color: #5200ff;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  color: #ffffff;

  &:hover {
    background: #4700e0;
  }

  &:active {
    background: #4100cc;
  }
}

.modal-button {
  cursor: pointer;
  display: block;
  width: 300px;
  height: 50px;
  border-radius: 20px;
  background: #5200ff;
  color: rgb(255, 255, 255);

  &:hover {
    background: #4700e0;
  }

  &:active {
    background: #4100cc;
  }
}


