.groupCard {
  width: 360px;
  height: 224px;
  background-color: #ffffff;
  border-radius: 22px;
  box-shadow: 3px 3px 10px rgb(184, 184, 184);
}

.groupCard__header {
  background-color: #5200ff;
  height: 95px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.groupCard__group {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

.groupCard__container {
  position: relative;
  width: 318px;
  margin: 0 auto;
  height: 110px;
}

.groupCard__buttons{
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  gap: 10px;
}

.groupCard__add-btn {
  cursor: pointer;
  transition: 0.1s;
  &:hover {
    transform: scale(1.2);
  }
}
