.modal__label {
  display: block;
  margin-bottom: 10px;
}


.modal__button {
  cursor: pointer;
  display: block;
  width: 300px;
  height: 50px;
  border-radius: 20px;
  background: #5200ff;
  color: rgb(255, 255, 255);

  &:hover {
    background: #4700e0;
  }

  &:active {
    background: #4100cc;
  }
}

.modal__customSelect {
  position: relative;
}

select {

  appearance: none;
  /*  safari  */
  -webkit-appearance: none;
  /*  other styles for aesthetics */
  width: 300px;
  font-size: 1.15rem;
 padding: 10px;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 15px;
  color: #000;
  cursor: pointer;
  margin-bottom: 30px;
}


.modal__customSelect::before,
.modal__customSelect::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.modal__customSelect::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 25%;
}

.modal__customSelect::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 35%;
}