.schedule__lesson {
  padding: 10px;
  user-select: none;
  margin-top: 10px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: relative;
  border: var(--border-block);
  border-radius: var(--button-border-radius);
  font-size: 15px;

  &-container {
    display: flex;
    justify-content: space-between;
  }
  &-name {
    font-size: var(--font-size-small);
  }

  &-teacher {
    margin-top: 5px;
    font-size: var(--font-size-small);
  }

  &-click {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &-settings {
      width: 20px;
      cursor: pointer;
    }

    &-delete {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}
