.schedule__lesson {
  padding: 10px;
  user-select: none;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  // box-shadow: 1px 1px 5px rgb(184, 184, 184);
  position: relative;
  border: var(--border-block);
  border-radius: var(--button-border-radius);
  font-size: 15px;
  &:hover {
    background-color: rgb(247, 247, 247);
  }

  &:active {
    background-color: rgb(238, 238, 238);
  }

  &-name {
    font-size: var(--font-size-small);
  }

  &-teacher {
    margin-top: 5px;
    font-size: var(--font-size-small);
  }

  &-click {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.block1 {
  width: 100%;
  height: 100%;
}
