.navigation {
  padding: 1px;
  width: 300px;
  height: 100%;
  background: #e7e7ff;
  // border: 1px solid #bcbcbc;
  &__burger {
    display: none;
  }

  &__container {
    width: fit-content;
    margin-left: 30px;
    margin: 0 auto;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__logoBlock {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__logo {
  }

  &__list-title {
    margin-top: 30px;
    // padding: 0px 20px;
    // color: #bcbcbc;
    color: #000000;
    font-size: 20px;
  }

  &__collapse {
    user-select: none;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    width: 25px;
    height: 20px;
  }

  &__list {
    margin-top: 5px;
    display: flex;
    flex-direction: column;

    &-element {
      user-select: none;
      cursor: pointer;
      display: flex;
      margin-top: 30px;
      // color: #bcbcbc;
      color: #bcbcbc;

      align-items: center;
      gap: 10px;
      padding: 0px 0;
      // padding: 20px 20px;
      &:hover {
        border-radius: var(--button-border-radius);
        // background-color: #5200ff;
        color: #fff;
      }

      &-text {
        font-size: 15px;
        // color: #bcbcbc;
        color: #000000;
      }
    }
  }

  &__user {
    &-container {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &-name {
      white-space: nowrap;
      font-size: 20px;
      // color: #bcbcbc;
      color: #000000;
    }

    &-avatar {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background-image: url("../../../assets/Navigation/Avatar.png");
      background-position: center;
      background-size: 100px 50px;
    }

    &-button-exit {
      cursor: pointer;
      margin-left: auto;
    }
    &-role {
      font-size: var(--font-size-small);
      color: #915fff;
      margin-bottom: 5px;
    }
  }
}

.invisible {
  width: 100px;

  .navigation__list-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .navigation__list-element-text {
    font-size: 10px;
  }

  .navigation__user-info {
    display: none;
  }

  .navigation__user-button-exit {
    margin: 0 auto;
    margin-top: 10px;
  }

  .navigation__logo-text {
    display: none;
  }

  .navigation__list-title {
    display: none;
  }

  .navigation__container {
    align-items: center;
  }

  .navigation__list {
    align-items: center;
  }
  .navigation__lists {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.navigation_on {
  .navigation {
    position: fixed;
    display: block;
    z-index: 10;

    width: 100%;
  }
}
