.modal__links{
  padding: 0 30px 0 30px ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__linkBtn{
  display: block;
    width: 300px;
    height: 70px;
    background: #5200FF;
    border-radius: 22px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
  
  
    &:hover {
      background: #4700e0;
    }
  
    &:active {
      background: #4100cc;
    }
  }