.studentsList {
  padding-bottom: 10px;
  margin-top: 20px;
  background-color: #E7E7FF;
  border-radius: 33px;
  width: 85vw;
  height: 95vh;
  overflow: hidden;
  overflow-y: visible;
}

.studentsList__container {
  margin: 0 auto;
  margin-top: 70px;
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  column-gap: 15px;
  row-gap: 15px;
}

.studentsList__add {
  box-shadow: 3px 3px 10px rgb(184, 184, 184);
  background: #e4e4f0;
  cursor: pointer;
  width: 355px;
  height: 100px;
  border-radius: 30px;
  border: #989898 dashed 3px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {

    .studentsList__add-img {
      transform: scale(1.2);
    }

  }
}

.studentsList__add-container {
  width: 90%;
}

.studentsList__add-img {
  display: block;
  margin-left: auto;
  transition: 0.5s;
  width: 50px;
  height: 50px;

}