.curatorGroups {
  width: 100%;
  background-color: var(--layout-bg);
  overflow: hidden;
  overflow-y: visible;
  min-height: 100vh;
  padding-bottom: 20px;
  &__container {
    margin: 0 auto;
    margin-top: 70px;
    width: 95%;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    display: flex;
    gap: 30px;
    row-gap: 30px;
  }
  &__add {
    width: 360px;
    height: 225px;
    border: #989898 dashed 3px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px rgb(184, 184, 184);
    cursor: pointer;

    &:hover {
      .groups__add-img {
        transform: scale(1 0.2);
      }
    }

    &-img {
      display: block;
      margin: 0 auto;
      width: 60px;
      height: 60px;
      transition: 0.5s;
    }
  }
}



.adminPanel__message {
  background-color: #f8f9fa;  /* Оставляем желтый фон для сообщения */
  color: #000;
  padding: 20px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
