.notesCard {
  width: 90%;
  padding: 5px 0;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgb(184, 184, 184);
  display: flex;

  &__container {
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__noteName {
  }

  &__noteDescription {
    font-size: var(--font-size-small);
    margin-top: 10px;
  }

  &__buttons {
    gap: 10px;
    display: flex;

    &-delete {
      user-select: none;
      cursor: pointer;
      width: 20px;
      height: 20px;
    }

    &-settings {
      user-select: none;
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
  }
}
