:root {
  --button-color: #5200ff;
  --button-color-hover: #4700e0;
  --button-color-active: #4100cc;
  --font-size-small: 15px;
  --button-border-radius: 20px;
  // --layout-bg: #e7e7ff; основной
  --layout-bg: #f0f0ff;

  --block-add-button-bg: transparent;
  --border-block: 1px solid #e0e0e0;
}
